---
layout: bare
title: Flipbit - Independent Software Development
---

<div class="container container-bump">
    <div class="row">
        {% include side-content.html %}
        <div class="col-md-10 col-light">
            <div class="container-fluid container-padless">
                <div class="row">
                    <div class="col-md-6 col-list">
                        <h2>Projects</h2>
                        <hr />

                        <!-- Nascent -->
                        <div class="blurb blurb-nascent">
                            <a href="https://nascentfit.com/">
                                <h3>Nascent</h3>
                                <p>A dynamic training system for cyclists and runners</p>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-6 col-list">
                        <h2>Open Source</h2>
                        <hr />

                        <!-- Oculus Reparo -->
                        <div class="blurb blurb-oculus">
                            <a href="https://github.com/flipbit/oculus-reparo-swifty">
                                <h3>Oculus Reparo</h3>
                                <p>A Swift UIKit layout manager for iOS</p>
                            </a>
                        </div>

                        <!-- jQuery Image Annotation -->
                        <div class="blurb blurb-annotation">
                            <a href="/jquery-image-annotation.html">
                                <h3>jQuery Image Annotation</h3>
                                <p>Simple jQuery plugin to create image annotations</p>
                            </a>
                        </div>

                        <!-- WHOIS -->
                        <div class="blurb blurb-whois">
                            <a href="https://github.com/flipbit/whois">
                                <h3>.NET WHOIS</h3>
                                <p>A C# library to directly query WHOIS servers</p>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6 col-list col-fun">
                        <h2>Fun</h2>
                        <hr />

                        <!-- Microprinter -->
                        <div class="blurb blurb-microprinter">
                            <a href="/microprinting.html">
                                <h3>Microprinter</h3>
                                <p>Recycling a till receipt printer into a life stream</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-double-bump">
    <div class="row">
        <div class="col-md-10 col-md-offset-2 col-light col-list">
            <h2>About</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2 col-light text-center col-about">
            <img src="/content/images/mugshot.jpg" alt="Mugshot" class="mugshot">
        </div>
        <div class="col-md-8 col-light col-list col-about">
            <p>
                I'm a full stack developer with over 13 years commercial experience developing apps and websites.
            </p>
            <p>
                I like anything on two wheels, coffee, and dachshunds.
            </p>
        </div>
    </div>
</div>

<div class="container container-double-bump">
    <div class="row">
        <div class="col-md-10 col-light col-list col-md-offset-2">
            <h2>Contact</h2>
            <hr />
            <div class="text-center">
                <ul class="link-list">
                    <li>
                        <a href="https://github.com/flipbit">
                            <img src="/content/images/icons/octoface.svg" class="github" />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/flipbit">
                            <img src="/content/images/icons/linkedin.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="mailto:hello@flipbit.co.uk">
                            <img src="/content/images/icons/email.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="http://www.strava.com/athletes/flipbit">
                            <img src="/content/images/icons/strava.svg" class="strava" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
