<div class="h1-container">
    <h1>
        <a href="/"><span class="glyphicon glyphicon-cog"></span></a>
    </h1>
</div>

<div class="side-container">
    <h4 class="clearfix">flipbit</h4>
    <ul>
        <li>
            <a href="https://github.com/flipbit">GitHub</a>
        </li>
        <li>
            <script type="text/javascript">WriteEmail('Email')</script>
        </li>
        <li>
            <a href="/all-posts.html">All Posts</a>
        </li>
    </ul>
</div>

<div class="side-container">
    <h4>Projects</h4>
    <ul>
        <li>
            <a href="/microprinting.html">Microprinting</a>
        </li>
        <li>
            <a href="https://github.com/flipbit/whois" title="A .NET Library for downloading WHOIS data written in C#">WHOIS.NET</a>
        </li>
        <li>
            <a href="https://github.com/flipbit/jquery-image-annotate" title="An Image Annotation jQuery plugin">jQuery Image Annotation</a>
        </li>
        <li>
            <a href="https://github.com/flipbit/jenkins.net" title="A .NET Library for accessing the Jenkins Continuous Integration server written in C#">Jenkins Monitor</a>
        </li>
    </ul>
</div>
