
<h4>Hello</h4>
<p>
    My name is Chris and I'm a web developer based in London.
</p>
<ul class="media-grid">
    <li>
        <a>
            <img src="/content/images/profile.jpg"  title="Surfing the web" alt="Surfing the web" width="195" height="110" />
        </a>
    </li>
</ul>
<p style="padding-left: 50px;">
    <script type="text/javascript">WriteEmail('Email')</script> or <a href="https://github.com/flipbit">GitHub</a>
</p>

<h4>Projects</h4>
<ul>
    <li>
        <a href="/microprinting.html">Microprinting</a>
    </li>
    <li>
        <a href="/whois-search.html">WHOIS.NET</a>
    </li>
    <li>
        <a href="/jquery-image-annotation.html">jQuery Image Annotation</a>
    </li>
    <li>
        <a href="https://github.com/flipbit/jenkins.net">Jenkins Monitor</a>
    </li>
</ul>

<h4>Recent Posts</h4>
<ul>
	{% for post in site.posts limit:5 %}
		<li>
			<a href="{{ post.url }}">{{ post.title_short }}</a> 
		</li>
	{% endfor %}
    <li>
        <a href="/all-posts.html">All Posts</a>
    </li>
</ul>
