h1 a {
	background: transparent url("/content/images/flipbit-logo-medium.png") no-repeat;
	display: block;
    height: 47px;
    overflow: hidden;
    margin: 40px 0 0 0;
    width: 99px;
    text-indent: 1000px;
}