blockquote p
{
    font-size: 12px;
    font-style: italic; 
}
.blog-header 
{
    padding-top: 20px;
}
.blog-header a 
{
    color: #404040;
    text-decoration: none;
}
.blog-header a:hover
{
    color: #696969;
}
.blog-header span 
{
    color: #0069D6;
}
.blog-header span:hover
{
    color: #3C96F3;
}
.blog-post 
{
    border-bottom: none;
}
.center 
{
    padding: 15px 0;
    text-align: center;
}
.center a 
{
    display: block;
    padding:4px;
    margin:0 auto 18px;
    border:1px solid #ddd;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
}
.center a img
{
    display:block;
}
.center a:hover
{
    border-color:#0069d6;
    -webkit-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);
}
.footer, .footer a, .footer a:hover {
    color: #ccc;
    font-size: 12px;
    padding: 50px 0;
    text-align: center;
}
.footer a, .footer a:hover {
    color: #aaa;
}
.no-border, .no-border a, .no-border a:hover 
{
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.no-hover-border a:hover 
{
    border:1px solid #ddd;
    -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
}
.side-content li
{
    padding: 3px 0;
}
.side-content p
{
    padding-left: 5px;
}
.spaced
{
    margin: 10px 0;
}
.span12 li
{
    color: #404040;
}
